aiohttp==3.8.4
aiosignal==1.3.1
ArZypher @ git+https://github.com/Andres77872/ArZypher.git@8636168c4af95b047af581b5db26af2b650d4b93
async-timeout==4.0.2
attrs==23.1.0
beautifulsoup4==4.12.2
certifi==2023.5.7
charset-normalizer==3.1.0
frozenlist==1.3.3
idna==3.4
lxml==4.9.3
multidict==6.0.4
numpy==1.24.3
openai==0.27.6
opencv-python==4.7.0.72
pydantic==1.10.7
requests==2.30.0
soupsieve==2.4.1
tqdm==4.65.0
typing_extensions==4.5.0
urllib3==2.0.2
yarl==1.9.2
